$color_defaultFontColor   :	#303030 ;
$color_title              : #000000 ;
$color_titleTag           : #C8D3DB ;
$color_titlePhoto         : #FFFFFF ;
$color_menuItem           : #000000 ;
$color_menuPrimary        : #FFFFFF ;
$color_menuSecondary      : #444444 ;
$color_menuBorder         : #ECECEC ;
$color_loadingBackground  : #FFFFFF ;
$color_preloadPrimary     : #2C3E47 ;
$color_preloadSecondary   : transparent ;
$color_footerText         : #828282 ;
