$color_defaultFontColor:	#303030 ;
$color_title: 						#000000 ;
$color_titleTag: 					#C8D3DB ;
$color_titlePhoto:        #FFFFFF ;
$color_loadingBackground: #FFFFFF ;
$color_preloadPrimary:    #2C3E47 ;
$color_preloadSecondary:  #525F66 ;
$color_footerText:        #828282 ;
