// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "")
{
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg)
{
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $spread, $color)
{
	box-shadow: $h-shadow $v-shadow $blur $spread $color ;
	-moz-box-shadow: $h-shadow $v-shadow $blur $spread $color ;
	-webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color ;
}

@mixin border-radius($r)
{
	border-radius: $r ;
	-moz-border-radius: $r ;
	-webkit-border-radius: $r ;
}

@mixin transform_translate($x, $y) {
	transform: translate($x, $y) ;
	-ms-transform: translate($x, $y) ;
	-moz-transform: translate($x, $y) ;
	-webkit-transform: translate($x, $y) ;
}

@mixin transform_rotate($angle) {
	-webkit-transform: rotate($angle);
	-moz-transform: rotate($angle);
	-ms-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}

@mixin transition($request) {
	-webkit-transiton: $request;
  -moz-transition: $request;
  -ms-transition: $request;
  -o-transition: $request;
  transition: $request;
}

@mixin animation($request) {
	animation: $request ;
	-webkit-animation: $request;
	-moz-animation: $request;
	-ms-animation: $request;
}
