@import 'normalize';
@import 'mixins';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
@include font-face("League Spartan", "../assets/leaguespartan/leaguespartan-bold", bold, normal);


$backgroundColor: #1D262B ;

$menu-button-height: 27px ;
$menu-button-width: 35px ;
$menu-main: #849199 ;
$menu-active: #FFFFFF ;
$menu-link: #DCDDD7 ;
$menu-link-hover: #FFFFFF ;
$menu-link-background: #363634 ;
 
@media all {
	
	html, body {
    	max-width: 100%;
    	overflow-x: hidden;
	}

	html {
		background: $backgroundColor ;
	}
	
	img, video, canvas {
	  max-width: 100%;
	}

	ol, ul {
		list-style: none ;
		padding: 0 ;
		margin: 0 ;
	}
	
	section {
		width: 100% ;
		position: relative ;
	}
	
	section:after {
		clear: both ;
	}
	
	#loading {
		position: absolute ;
		top: 0 ;
		left: 0 ;
		height: 100% ;
		z-index: 200 ;
		background: #1D262B ;
	}
	
	#preloader-wrap {
		position: absolute ;
		top: 50% ;
		left: 50% ;
		transform: translate(-50%, -50%) ;
		-webkit-transform: translate(-50%, -50%) ;
		-moz-transform: translate(-50%, -50%) ;
		-ms-transform: translate(-50%, -50%) ;
	}
	
	#preloader {
		position: absolute ;
		top: 50% ;
		left: 50% ;
		margin-top: -15px ;
		margin-left: -15px ;
		width: 30px ;
		height: 30px ;
		background: #2C3E47 ;
		border-radius: 50px ;
		animation: preloader 1.3s infinite linear ;
		-webkit-animation: preloader 1.3s infinite linear;
		-moz-animation: preloader 1.3s infinite linear;
		-ms-animation: preloader 1.3s infinite linear;
	}
	
	#preloader:after {
		position:absolute;
		width:50px;
		height:50px;
		border-top:10px solid #2C3E47;
		border-bottom:10px solid #2C3E47;
		border-left:10px solid transparent;
		border-right:10px solid transparent;
		border-radius:50px;
		content:'';
		top:-20px;
		left:-20px;
		animation: preloader_after 1.3s infinite linear;
		-webkit-animation: preloader_after 1.3s infinite linear;
		-moz-animation: preloader_after 1.3s infinite linear;
		-ms-animation: preloader_after 1.3s infinite linear;
	}
	
	@-webkit-keyframes preloader {
		0% {-webkit-transform: rotate(0deg);}
		50% {-webkit-transform: rotate(180deg);background:#525F66;}
		100% {-webkit-transform: rotate(360deg);}
	}
	@-webkit-keyframes preloader_after {
		0% {border-top:10px solid #2C3E47;border-bottom:10px solid #2C3E47;}
		50% {border-top:10px solid #FFFFFF;border-bottom:10px solid #FFFFFF;}
		100% {border-top:10px solid #2C3E47;border-bottom:10px solid #2C3E47;}
	}
	@-moz-keyframes preloader {
		0% {-moz-transform: rotate(0deg);}
		50% {-moz-transform: rotate(180deg);background:#525F66;}
		100% {-moz-transform: rotate(360deg);}
	}
	@-moz-keyframes preloader_after {
		0% {border-top:10px solid #2C3E47;border-bottom:10px solid #2C3E47;}
		50% {border-top:10px solid #FFFFFF;border-bottom:10px solid #FFFFFF;}
		100% {border-top:10px solid #2C3E47;border-bottom:10px solid #2C3E47;}
	}
	@-ms-keyframes preloader {
		0% {-ms-transform: rotate(0deg);}
		50% {-ms-transform: rotate(180deg);background:#525F66;}
		100% {-ms-transform: rotate(360deg);}
	}
	@-ms-keyframes preloader_after {
		0% {border-top:10px solid #2C3E47;border-bottom:10px solid #2C3E47;}
		50% {border-top:10px solid #FFFFFF;border-bottom:10px solid #FFFFFF;}
		100% {border-top:10px solid #2C3E47;border-bottom:10px solid #2C3E47;}
	}
	@keyframes preloader {
		0% {transform: rotate(0deg);}
		50% {transform: rotate(180deg);background:#525F66;}
		100% {transform: rotate(360deg);}
	}
	@keyframes preloader_after {
		0% {border-top:10px solid #2C3E47;border-bottom:10px solid #2C3E47;}
		50% {border-top:10px solid #FFFFFF;border-bottom:10px solid #FFFFFF;}
		100% {border-top:10px solid #2C3E47;border-bottom:10px solid #2C3E47;}
	}
	
	#preloader-tag {
		position: absolute ;
		top: 50% ;
		left: 50% ;
		margin-left: -100px ;
		margin-top: 70px ;
		width: 200px ;
		text-align: center ;
		font-family: 'Raleway', sans-serif ;
		font-weight: 400 ;
		font-size: 1.4em ;
		text-transform: uppercase ;
		color: #FFFFFF ;
	}
	
	#splash {
		height: 100% ;
	}

	#arcs {
		z-index: 9 ;
		position: absolute ;
		top: 50% ;
		left: 50% ;
		/*transform-origin: 50% 50% ;*/
		transform: translate(-50%, -50%) ;
		-webkit-transform: translate(-50%, -50%) ;
		-moz-transform: translate(-50%, -50%) ;
		-ms-transform: translate(-50%, -50%) ;
		display: table ;
		margin: auto ;
		opacity: 0 ;
	}

	.arc {
	    border: 1px solid #FFFFFF; /* the 'strokes' of the arc */
	    display: inline-block;
	    min-width: 520px ; /* the width of the innermost element */
	    min-height: 520px ; /* the height of the innermost element */
	    padding: 0.6em; /* the spacing between each arc */
	    border-radius: 50%; /* for making the elements 'round' */
	    border-top-color: transparent; /* hiding the top border */
	    border-bottom-color: transparent;
	}

	#arc1 {
		-webkit-animation: arc_rotate 8s infinite linear;
		animation: arc_rotate 8s infinite linear;
	    opacity: .6 ;
	    border-width: 1px ;
	    /*
	    background-color: $backgroundColor ;
	    @include box-shadow(0, 0, 50px, 50px, $backgroundColor);
	    */
	}

	#arc2 {
		-webkit-animation: arc_rotate 4s infinite linear;
		animation: arc_rotate 20s infinite linear;
	    opacity: 1 ;
	    border-width: 1px ;
	}

	#arc3 {
		-webkit-animation: arc_rotate 7s infinite linear;
		animation: arc_rotate 7s infinite linear;
	    opacity: .1 ;
	    border-width: 8px ;
	}

	.off {
		-moz-animation-name: none !important ;
		-webkit-animation-name: none !important ;
		-ms-animation-name: none !important ;
		animation-name: none !important ;	
	}

	@keyframes arc_rotate {
		100% {transform:rotate(360deg);}
	}
	@-webkit-keyframes arc_rotate {
		100% {-webkit-transform: rotate(360deg);}
	}
	@-moz-keyframes arc_rotate {
		100% {-moz-transform: rotate(360deg);}
	}
	@-ms-keyframes arc_rotate {
		100% {-ms-transform: rotate(360deg);}
	}
	
	header {
		z-index: 10 ;
		position: absolute ;
		top: 50% ;
		left: 50% ;
		transform: translate(-50%, -50%) ;
		-webkit-transform: translate(-50%, -50%) ;
		-moz-transform: translate(-50%, -50%) ;
		-ms-transform: translate(-50%, -50%) ;
		color: #FFFFFF ;
		overflow: hidden ;
		cursor: pointer ;
	}
	
	#splash-name-wrap {
		width: 0 ;
		overflow: hidden ;
		clear: both ;
	}
	
	#splash-name {
		font-family: 'League Spartan', serif ;
		font-size: 3em ;
		text-transform: uppercase ;
		width: 490px ;
		height: 46px ;
		padding: 5px ;
		background: #FFFFFF ;
		color: #1D262B ;
	}
	
	#splash-tagline {
		font-family: 'Raleway', sans-serif ;
		font-size: 1.574em ;
		text-transform: uppercase ;
		overflow: hidden ;
		float: left ;
	}
	
	.splash-tag {
		opacity: 0 ;
	}
	
	#splash-social {
		float: right ;
	}
	
	#particles-js {
		z-index: 5 ;
		opacity: 0 ;
	}
	
	#blog {
		background: #303C42 ;
		height: 100% ;
		display: none ;
	}
	
	.blog-showcase {
		display: table ;
		margin: auto ;
		position: relative ;
		top: 50% ;
		transform: translateY(-50%) ;
	}
	
	.blog-item {
		height: 400px ;
		width: 200px ;
		transform: skewX(-20deg) ;
		background: #f0f1e7 ;
		float: left ;
		margin: 5px ;
		padding: 10px ;
		border-top: 8px solid #D5D6C9 ;
	}
	
	.blog-item-inner {
		transform: skewX(20deg) ;
		color: #000 ;
	}
}

@media (max-width: 600px) {
	#arcs {
		display: none ;
	}

	.arc {
	    min-width: 300px ;
	    min-height: 300px ;
	}

	header {
		
	}
	
	#splash-name {
		font-size: 1.7em ;
		width: 278px ;
		height: 24px ;
	}
}