@import 'normalize';
@import 'mixins';
@import 'colors';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);

@media all
{
	/* General */
	/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
	html, body {
		width: 100% ;
		color: $color_defaultFontColor ;
	}

	h2 {
		margin: 0 ;
	}

	#column {
		margin: 0 auto ;
		width: 700px ;
	}

	/* Loading animation */
	/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
	.off {
		-moz-animation-name: none !important ;
		-webkit-animation-name: none !important ;
		-ms-animation-name: none !important ;
		animation-name: none !important ;
	}

	@keyframes rotate_360 {
		100% {transform:rotate(360deg);}
	}
	@-webkit-keyframes rotate_360 {
		100% {-webkit-transform: rotate(360deg);}
	}
	@-moz-keyframes rotate_360 {
		100% {-moz-transform: rotate(360deg);}
	}
	@-ms-keyframes rotate_360 {
		100% {-ms-transform: rotate(360deg);}
	}

	#loading {
		position: absolute ;
		top: 0 ;
		left: 0 ;
		width: 100% ;
		height: 100% ;
		z-index: 200 ;
		background: $color_loadingBackground ;
	}

	#preloader-wrap {
		position: absolute ;
		top: 50% ;
		left: 50% ;
		transform: translate(-50%, -50%) ;
		-webkit-transform: translate(-50%, -50%) ;
		-moz-transform: translate(-50%, -50%) ;
		-ms-transform: translate(-50%, -50%) ;
	}

	#preloader {
		position: absolute ;
		top: 50% ;
		left: 50% ;
		margin-top: -15px ;
		margin-left: -15px ;
		width: 30px ;
		height: 30px ;
		background: #2C3E47 ;
		border-radius: 50px ;
		animation: preloader 1.3s infinite linear ;
		-webkit-animation: preloader 1.3s infinite linear;
		-moz-animation: preloader 1.3s infinite linear;
		-ms-animation: preloader 1.3s infinite linear;
	}

	#preloader:after {
		position:absolute;
		width:50px;
		height:50px;
		border-top:10px solid $color_preloadPrimary;
		border-bottom:10px solid $color_preloadPrimary;
		border-left:10px solid transparent;
		border-right:10px solid transparent;
		border-radius:50px;
		content:'';
		top:-20px;
		left:-20px;
		animation: preloader_after 1.3s infinite linear;
		-webkit-animation: preloader_after 1.3s infinite linear;
		-moz-animation: preloader_after 1.3s infinite linear;
		-ms-animation: preloader_after 1.3s infinite linear;
	}

	@-webkit-keyframes preloader {
		0% {-webkit-transform: rotate(0deg);}
		50% {-webkit-transform: rotate(180deg);background:$color_preloadSecondary;}
		100% {-webkit-transform: rotate(360deg);}
	}
	@-webkit-keyframes preloader_after {
		0% {border-top:10px solid $color_preloadPrimary;border-bottom:10px solid $color_preloadPrimary;}
		50% {border-top:10px solid #FFFFFF;border-bottom:10px solid #FFFFFF;}
		100% {border-top:10px solid $color_preloadPrimary;border-bottom:10px solid $color_preloadPrimary;}
	}
	@-moz-keyframes preloader {
		0% {-moz-transform: rotate(0deg);}
		50% {-moz-transform: rotate(180deg);background:$color_preloadSecondary;}
		100% {-moz-transform: rotate(360deg);}
	}
	@-moz-keyframes preloader_after {
		0% {border-top:10px solid $color_preloadPrimary;border-bottom:10px solid $color_preloadPrimary;}
		50% {border-top:10px solid #FFFFFF;border-bottom:10px solid #FFFFFF;}
		100% {border-top:10px solid $color_preloadPrimary;border-bottom:10px solid $color_preloadPrimary;}
	}
	@-ms-keyframes preloader {
		0% {-ms-transform: rotate(0deg);}
		50% {-ms-transform: rotate(180deg);background:$color_preloadSecondary;}
		100% {-ms-transform: rotate(360deg);}
	}
	@-ms-keyframes preloader_after {
		0% {border-top:10px solid $color_preloadPrimary;border-bottom:10px solid $color_preloadPrimary;}
		50% {border-top:10px solid #FFFFFF;border-bottom:10px solid #FFFFFF;}
		100% {border-top:10px solid $color_preloadPrimary;border-bottom:10px solid $color_preloadPrimary;}
	}
	@keyframes preloader {
		0% {transform: rotate(0deg);}
		50% {transform: rotate(180deg);background:$color_preloadSecondary;}
		100% {transform: rotate(360deg);}
	}
	@keyframes preloader_after {
		0% {border-top:10px solid $color_preloadPrimary;border-bottom:10px solid $color_preloadPrimary;}
		50% {border-top:10px solid #FFFFFF;border-bottom:10px solid #FFFFFF;}
		100% {border-top:10px solid $color_preloadPrimary;border-bottom:10px solid $color_preloadPrimary;}
	}

	#preloader-tag {
		position: absolute ;
		top: 50% ;
		left: 50% ;
		margin-left: -100px ;
		margin-top: 70px ;
		width: 200px ;
		text-align: center ;
		font-family: 'Raleway', sans-serif ;
		font-weight: 400 ;
		font-size: 1.4em ;
		text-transform: uppercase ;
		color: #FFFFFF ;
	}

	/* Header / Title */
	/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
	$header_height: 50px ;

	header {
		padding: 50px 0 ;
		width: auto ;
		height: $header_height ;
		clear: both ;
	}

	$titlePhoto_borderWidth: 0px ;
	$titlePhoto_backgroundDiameter: ($header_height - ($titlePhoto_borderWidth*2)) ;

	header #picture_border {
		float: left ;
		padding: $titlePhoto_borderWidth ;
		@include border-radius($header_height) ;
		@include box-shadow(0, 0, 0px, 0px, #afafaf) ;
	}

	header #picture {
		@include border-radius($header_height/2) ;
		width: $titlePhoto_backgroundDiameter ;
		height: $titlePhoto_backgroundDiameter ;
		background-color: $color_titlePhoto ;
		background: url('../assets/avatar.jpg') ;
		background-size: cover ;
	}

	header #title {
		float: left ;
		font-family: 'Open Sans', sans-serif ;
		font-size: 30px ;
		color: $color_title ;
		margin-left: 20px ;
		margin-top: 4px ;
		font-weight: 300 ;
		//letter-spacing: 4px ;
		//text-transform: uppercase ;
	}

	/* Content */
	/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
	#content {
		padding: 50px 0 ;
		width: auto ;
		margin: auto ;
		clear: both ;
	}

	article {
		font-family: 'Open Sans', serif ;
		clear: both ;
		margin-bottom: 10px ;
	}

	.article-meta {
		text-transform: uppercase ;
		color: #A1A1A1 ;
		font-size: 12px ;
	}

	article > h2 {
		font-size: 57px ;
		font-weight: 700 ;
		letter-spacing: -0.04em ;
		line-height: 1em ;
		margin-left: -2px ;
		margin-bottom: 35px ;
		color: #222222 ;
	}

	article > p {
		font-family: 'PT Serif', serif ;
		font-weight: 400 ;
		font-size: 21px ;
		line-height: 35px ;
		color: #2E2E2E ;

	}
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* 	Everything below this line adjusts the default
		styles according to changes in viewport size. 	*/
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@media (max-width: 800px)
{
	#column {
		width: 500px ;
	}

	article > h2 {
		font-size: 35px ;
	}
}

@media (max-width: 570px)
{
	header {
		padding: 0 ;
	}

	header #title {
		font-size: 20px ;
		margin-left: 15px ;
		margin-top: 10px ;
	}

	#column {
		width: auto ;
		padding: 30px ;
	}

	article > h2 {
		font-size: 24px ;
	}

	article > p {
		font-size: 18px ;
		line-height: 30px ;
	}
}

@media (max-width: 450px)
{
	#column {
		width: auto ;
		padding: 10px ;
	}

	article > p {
		font-size: 16px ;
		line-height: 24px ;
	}
}
